SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_SECRET=your_api_secret_here
SHOPIFY_APP_URL=https://your-app-domain.com
SCOPES=write_products,read_products,read_discounts
PORT=3001
SHOPIFY_APP_ID=your_partner_app_id_here
SHOPIFY_PARTNER_TOKEN=your_partner_api_token_here
SHOPIFY_ORG_ID=your_partner_org_id_here
